app/payment.html
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Profi-Grand</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/jquery.fancybox.css">
		<link rel="stylesheet" href="css/slick.css">
		<link rel="stylesheet" href="css/nouislider.min.css">
		<link rel="stylesheet" href="scss/main.css">
	</head>
	<body>
		<header class="header">
			<div class="header__container container">
				<div class="header__logo">Profi-Grand</div>
				<nav class="header-menu header__menu"><a class="header-menu__item item" href="index.html">Главная</a><a class="header-menu__item item" href="repair.html">Ремонт техники</a><a class="header-menu__item item" href="brands.html">Картриджи</a><a class="header-menu__item item active" href="payment.html">Оплата и доставка</a><a class="header-menu__item item" href="contacts.html">Контакты</a></nav>
				<input class="header__search" type="text" placeholder="Поиск"><a class="btn btn--sm header__phone">8 (499) 992-02-21</a>
				<div class="burger-menu header__burger">
					<div class="burger-menu__inner"></div>
				</div>
			</div>
		</header>
		<main class="content">
			<section class="section" style="padding-bottom:0">
				<div class="container">
					<div class="title">Оплата и доставка</div>
					<p>Осуществляем доставку картриджей и выезд на вызовы ремонта техники по Москве и области. Время доставки в среднем занимает 2 часа, ремонт техники производится в течение 2 рабочих дней. По договоренности, можем привезти Вам домой или в офис картриджи, а также при вызове на ремонт техники, мастер может забрать технику с последующей доставкой обратно.</p>
					<p>Оплата производится на месте наличными или картой. Приём рассчёта осуществляется картами МИР и Union Pay. При рассчёте наличными просим заранее предупреждать с какой суммы будет нужна сдача.</p>
					<p>Если Вы хотите уточнить стоимость работ или получить консультацию свяжитесь с нами по номеру 8 (499) 992-02-21 или оставьте заявку и наш специалист перезвонит Вам в течении 10 минут.</p>
				</div>
			</section><div class="question">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <img src="img2/picture_2.jpg" >
            </div>
            <div class="col-xl-4">
                <div class="form-box">
                    <div class="fb-inside">
                        <p class="headin">Остались вопросы?</p>
                        <p class="text">Оставьте заявку и наш специалист перезвонит через 10 минут</p>
                        <form>
                            <input class="form-control" type="name" placeholder="Имя">
                            <input class="form-control" type="phone" placeholder="Телефон">
                            <input class="form-control" type="mail" placeholder="E-mail">
                            <textarea class="form-control" rows="3">Комментарий</textarea>
                            <button class="btn btn-gr2" type="submit">Оставить заявку</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

		</main>
		<footer class="footer">
			<div class="footer__container container">
				<div>
					<div class="footer__logo">Profi-Grand</div>
					<div class="footer__copyright">© Profi Grand servise, 2022 <br> Все права защищены</div>
				</div>
				<nav class="footer-menu footer__menu"><a class="footer-menu__item" href="index.html">Главная</a><a class="footer-menu__item" href="repair.html">Ремонт техники</a><a class="footer-menu__item" href="cartridges.html">Картриджи</a><a class="footer-menu__item active" href="payment.html">Оплата и доставка</a><a class="footer-menu__item" href="contacts.html">Контакты</a></nav>
				<div class="footer__contacts"><a class="phone footer__phone alt-font">8 (499) 922-02-21
						<div class="phone__schedule">Пн-Пт с 10:00 до 19:00</div></a>
					<div class="address footer__address">Москва, Большая Очаковская <br> улица, 47А, стр. 1</div>
					<div class="footer__social">
						<div class="social social--wa"></div>
						<div class="social social--tg"></div>
						<div class="social social--vk"></div>
					</div>
				</div>
			</div>
		</footer>
		<script src="js/jquery.js"></script>
		<script src="js/jquery.fancybox.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>

app/pug/payment.pug
extends template/layout
block vars
	- let page = "payment"
block content
	section.section(style="padding-bottom:0")
		.container
			.title Оплата и доставка
			p Осуществляем доставку картриджей и выезд на вызовы ремонта техники по Москве и области. Время доставки в среднем занимает 2 часа, ремонт техники производится в течение 2 рабочих дней. По договоренности, можем привезти Вам домой или в офис картриджи, а также при вызове на ремонт техники, мастер может забрать технику с последующей доставкой обратно.
			p Оплата производится на месте наличными или картой. Приём рассчёта осуществляется картами МИР и Union Pay. При рассчёте наличными просим заранее предупреждать с какой суммы будет нужна сдача.
			p Если Вы хотите уточнить стоимость работ или получить консультацию свяжитесь с нами по номеру 8 (499) 992-02-21 или оставьте заявку и наш специалист перезвонит Вам в течении 10 минут.
	include parts/questions-left.html
